/* LOGO */
.logo {
    font-family: "Montserrat", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #0A1B32;
    margin-top: 37px;
    margin-left:80px;
}
.logo-dot {
    color: #824FF1; 
}

/* MAIN SECTION */
.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 100px;
    gap: 40px;
}


  
    /* TEXT AREA */
.hero-text {
    max-width: 500px;
  }
  

.main-title {
    max-width: 495px; 
    width: 100%;
   /* margin-top: 203px; 
    margin-left: 200px; */
    font-family: "Ramaraja", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0.02em;
    color: #1B0A42;
}

.main-info {
    max-width: 583px;
    width: 100%;
    margin-top: 10px;
    margin-left: 200px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #9A9A9A;
}

/* BUTTON */
.main-btn {
    margin-top: 50px;
    margin-left: 200px;
    width: 152px;
    height: 64px;
    background-color: #824FF1;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

/* IMAGE */
.hero-image img {
    max-width: 400px;
    width: 100%; 
    display: block;  
}
